.Name {
    font-weight: 300;
    color: rgb(255, 0, 200);
}

.School {
    color: crimson;
}

.Total {
    color: rgb(234, 43, 234);
}

.formatstyle {
    text-align: center;
    font-size: large;
}

.Score {
    color: rgb(22, 228, 22);
}
